@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    outline: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(99deg,#00001d,#1d001d);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.quill{
    z-index: 0 !important;
}

.ql-toolbar.ql-snow ,.ql-container.ql-snow {
    border: 1px solid #3f3f46 !important;
    z-index: 0 !important;
}

.ql-toolbar.ql-snow{
    background: rgb(8, 8, 8) !important;
    border-radius: 5px 5px 0 0;
    z-index: 0 !important;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0px !important;
    border-radius:  0 0 5px 5px;
    min-height: 300px;
    /* background: #111 !important; */
    background-clip: padding-box !important;
    backdrop-filter: blur(3px) !important;
    background-color: rgba(17, 17, 17, 0.2) !important;
    color: #c5c5c5;
    z-index: 0 !important;
}

.ql-editor.ql-blank::before{
    color: rgb(154, 154, 154) !important;
}

.categories::-webkit-scrollbar{
    width: 3px;
    background: #989898;
    border-radius: 0px 10px 10px 0;
}

.categories::-webkit-scrollbar-thumb{
    width: 3px;
    background: #ffdc83;
    border-radius: 0px 10px 10px 0;
}

.blogBody h1{
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid #3f3f46;
    font-size: 34px;
    color: #c5c5c5;
    margin-top: 20px;
}

.blogBody h2{
    margin-top: 20px;
    font-size: 30px;
    border-bottom: none;
    color: #c5c5c5;
}

.blogBody h3{
    margin-top: 20px;
    font-size: 26px;
    border-bottom: none;
    color: #c5c5c5;
}

.blogBody h4{
    margin-top: 20px;
    font-size: 22px;
    border-bottom: none;
    color: #c5c5c5;
}

.blogBody h5{
    margin-top: 20px;
    font-size: 18px;
    border-bottom: none;
    color: #c5c5c5;
}

.blogBody h6{
    margin-top: 20px;
    font-size: 14px;
    border-bottom: none;
    color: #c5c5c5;
}

.blogBody p{
    margin-top: 20px;
    color: #c8c8c8;
    font-size: 20px;
}

.blogBody br{
    margin-bottom: 10px;
}

.blogBody a{
    margin-top: 20px;
    color: #c700c7;
    border-bottom: 1px dotted #c700c7;
}

.blogBody blockquote{
    margin-top: 20px;
    width: 100%;
    padding: 5px 10px;
    border-left: 5px solid #005368;
    background: #cfcfcf;
}

.ql-syntax{
    width: 100%;
    height: max-content;
    padding: 10px;
    border-radius: 10px;
    background: #001533;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffdc83;
}

.blogBody ol{
    list-style: lower-greek;
    list-style-position: inside;
    margin-top: 20px;
    color: #fdff92;
}

.blogBody ul{
    list-style: square inside;
    color: #92ffbc;
    margin-top: 20px;
}

@media screen and (max-width: 640px) {
    .blogBody p{
        font-size: 16px;
    }

    .blogBody h1{
        font-size: 28px;
    }

    .blogBody h2{
        font-size: 24px;
    }

    .blogBody h3{
        font-size: 20px;
    }

    .blogBody h5{
        font-size: 18px;
    }

    .blogBody h6{
        font-size: 16px;
    }

    .blogBody h1{
        font-size: 28px;
    }
}